{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div id="all-cards" class="grid"></div>
<!-- <div class="grid"> -->
  <!-- Mount Balloonicorn's card on to this element. -->
  <!--<div id="balloonicorn"></div> -->

  <!-- Mount Float's card on to this element. -->
  <!--<div id="float"></div> -->

  <!-- Mount Llambda's card on to this element. -->
  <!--<div id="llambda"></div> -->

  <!--we need to make 2 new divs for the 2 new cards (mer pusheen & shortstack)-->

  <!-- Mount Mer Pusheen's card on to this element. -->
  <!--<div id="merpusheen"></div> -->

  <!-- Mount Shortstack's card on to this element. -->
  <!--<div id="shortstack"></div> -->

<!--  </div> -->

{% endblock %}